<form class='template-form'>
  {{! Template Name }}
  <div class='field'>
    <p class='control'>
      <input
        class='input is-rounded has-background-is-success-light'
        type='text'
        id='template-name'
        placeholder='Template Name'
      />
    </p>
  </div>
  {{! Multi-Select }}
  <div class='columns is-multiline is-mobile'>
    <div
      class='column is-auto select is-multiple is-mobile'
      id='template-workouts'
    >
      <label class='has-text-light'>Arms</label>
      <select multiple size='4'>
        {{#each armWorkouts as |armWorkout|}}
          <option value='{{armWorkout.id}}'>{{armWorkout.name}}</option>
        {{/each}}
      </select>
      <div class='field'>
        <p class='control'>
          <button
            class='button is-rounded is-success mt-5 has-text-centered'
            id='login'
            type='submit'
          >
            Add to Workout
          </button>
        </p>
      </div>
    </div>
    <div
      class='column is-auto select is-multiple is-mobile'
      id='template-workouts'
    >
      <label class='has-text-light'>Back</label>
      <select multiple size='4'>
        {{#each backWorkouts as |backWorkout|}}
          <option value='{{backWorkout.id}}'>{{backWorkout.name}}</option>
        {{/each}}
      </select>
      <div class='field'>
        <p class='control'>
          <button
            class='button is-rounded is-success mt-5 has-text-centered'
            id='login'
            type='submit'
          >
            Add to Workout
          </button>
        </p>
      </div>
    </div>
    <div
      class='column is-auto select is-multiple column is-mobile'
      id='template-workouts'
    >
      <label class='has-text-light'>Chest</label>
      <select multiple size='4'>
        {{#each chestWorkouts as |chestWorkout|}}
          <option value='{{chestWorkout.id}}'>{{chestWorkout.name}}</option>
        {{/each}}
      </select>
      <div class='field'>
        <p class='control'>
          <button
            class='button is-rounded is-success mt-5 has-text-centered'
            id='login'
            type='submit'
          >
            Add to Workout
          </button>
        </p>
      </div>
    </div>
    <div
      class='column is-auto select is-multiple column is-mobile'
      id='template-workouts'
    >
      <label class='has-text-light'>Core and Abs</label>
      <select multiple size='4'>
        {{#each coreWorkouts as |coreWorkout|}}
          <option value='{{coreWorkout.id}}'>{{coreWorkout.name}}</option>
        {{/each}}
      </select>
      <div class='field'>
        <p class='control'>
          <button
            class='button is-rounded is-success mt-5 has-text-centered'
            id='login'
            type='submit'
          >
            Add to Workout
          </button>
        </p>
      </div>
    </div>
    <div
      class='column is-auto select is-multiple column is-mobile'
      id='template-workouts'
    >
      <label class='has-text-light'>Dynamic Lifts</label>
      <select multiple size='4'>
        {{#each dynamicWorkouts as |dynamicWorkout|}}
          <option value='{{dynamicWorkout.id}}'>{{dynamicWorkout.name}}</option>
        {{/each}}
      </select>
      <div class='field'>
        <p class='control'>
          <button
            class='button is-rounded is-success mt-5 has-text-centered'
            id='login'
            type='submit'
          >
            Add to Workout
          </button>
        </p>
      </div>
    </div>
    <div
      class='column is-auto select is-multiple column is-mobile'
      id='template-workouts'
    >
      <label class='has-text-light'>Legs</label>
      <select multiple size='4'>
        {{#each legWorkouts as |legWorkout|}}
          <option value='{{legWorkout.id}}'>{{legWorkout.name}}</option>
        {{/each}}
      </select>
      <div class='field'>
        <p class='control'>
          <button
            class='button is-rounded is-success mt-5 has-text-centered'
            id='login'
            type='submit'
          >
            Add to Workout
          </button>
        </p>
      </div>
    </div>
    <div
      class='column is-auto select is-multiple column is-mobile'
      id='template-workouts'
    >
      <label class='has-text-light'>Shoulders</label>
      <select multiple size='4'>
        {{#each shoulderWorkouts as |shoulderWorkout|}}
          <option
            value='{{shoulderWorkout.id}}'
          >{{shoulderWorkout.name}}</option>
        {{/each}}
      </select>
      <div class='field'>
        <p class='control'>
          <button
            class='button is-rounded is-success mt-5 has-text-centered'
            id='login'
            type='submit'
          >
            Add to Workout
          </button>
        </p>
      </div>
    </div>
  </div>
</form>

<script src='./js/template.js'></script>