<form class='template-form'>
  {{! Template Name }}
  <div class='field'>
    <p class='control'>
      <input
        class='input is-rounded has-background-is-success-light'
        type='text'
        id='template-name'
        placeholder='Template Name'
      />
    </p>
  </div>
  {{! Multi-Select }}
  <div class='columns is-multiline is-mobile'>
    <div
      class='column is-auto select is-multiple column is-mobile'
      id='template-workouts'
    >
      <label class='has-text-light'>Arms</label>
      <select multiple size='4'>
        {{#each workouts as |workout|}}
          <option value='{{workout.id}}'>{{workout.name}}</option>
        {{/each}}
      </select>
      <div class='field'>
        <p class='control'>
          <button
            class='button is-rounded is-success column'
            id='login'
            type='submit'
          >
            Add to Workout
          </button>
        </p>
      </div>
    </div>
    <div
      class='column is-auto select is-multiple column is-mobile'
      id='template-workouts'
    >
      <label class='has-text-light'>Back</label>
      <select multiple size='4'>
        {{#each workouts as |workout|}}
          <option value='{{workout.id}}'>{{workout.name}}</option>
        {{/each}}
      </select>
      <div class='field'>
        <p class='control'>
          <button
            class='button is-rounded is-success column'
            id='login'
            type='submit'
          >
            Add to Workout
          </button>
        </p>
      </div>
    </div>
    <div
      class='column is-auto select is-multiple column is-mobile'
      id='template-workouts'
    >
      <label class='has-text-light'>Chest</label>
      <select multiple size='4'>
        {{#each workouts as |workout|}}
          <option value='{{workout.id}}'>{{workout.name}}</option>
        {{/each}}
      </select>
      <div class='field'>
        <p class='control'>
          <button
            class='button is-rounded is-success column'
            id='login'
            type='submit'
          >
            Add to Workout
          </button>
        </p>
      </div>
    </div>
    <div
      class='column is-auto select is-multiple column is-mobile'
      id='template-workouts'
    >
      <label class='has-text-light'>Core and Abs</label>
      <select multiple size='4'>
        {{#each workouts as |workout|}}
          <option value='{{workout.id}}'>{{workout.name}}</option>
        {{/each}}
      </select>
      <div class='field'>
        <p class='control'>
          <button
            class='button is-rounded is-success column'
            id='login'
            type='submit'
          >
            Add to Workout
          </button>
        </p>
      </div>
    </div>
    <div
      class='column is-auto select is-multiple column is-mobile'
      id='template-workouts'
    >
      <label class='has-text-light'>Dynamic Lifts</label>
      <select multiple size='4'>
        {{#each workouts as |workout|}}
          <option value='{{workout.id}}'>{{workout.name}}</option>
        {{/each}}
      </select>
      <div class='field'>
        <p class='control'>
          <button
            class='button is-rounded is-success column'
            id='login'
            type='submit'
          >
            Add to Workout
          </button>
        </p>
      </div>
    </div>
    <div
      class='column is-auto select is-multiple column is-mobile'
      id='template-workouts'
    >
      <label class='has-text-light'>Legs</label>
      <select multiple size='4'>
        {{#each workouts as |workout|}}
          <option value='{{workout.id}}'>{{workout.name}}</option>
        {{/each}}
      </select>
      <div class='field'>
        <p class='control'>
          <button
            class='button is-rounded is-success column'
            id='login'
            type='submit'
          >
            Add to Workout
          </button>
        </p>
      </div>
    </div>
    <div
      class='column is-auto select is-multiple column is-mobile'
      id='template-workouts'
    >
      <label class='has-text-light'>Shoulders</label>
      <select multiple size='4'>
        {{#each workouts as |workout|}}
          <option value='{{workout.id}}'>{{workout.name}}</option>
        {{/each}}
      </select>
      <div class='field'>
        <p class='control'>
          <button
            class='button is-rounded is-success column'
            id='login'
            type='submit'
          >
            Add to Workout
          </button>
        </p>
      </div>
    </div>
  </div>
  {{! Submit Button }}

</form>

<script src='./js/template.js'></script>